<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart ToDo - Registration</title>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/items-new.js"></script>

</head>

<body>

  <%- include('partials/_header') %>

  <main>
    <form action="/items/new" method="POST" class="log-reg-form br5">
    <h3 class="center">Search by keyword</h2>
      <div>
        <label for="key">Enter Key Word</label>
        <input id="key" type="text" name="key" placeholder="Enter your keyword">
      </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
        <table class="center log-reg-form1">
          <tr>
            <th width="30%"><h3>Books</h3></th>
            <th width="30%"><h3>Movies</h3></th>
            <th width="30%"><h3>Restaurants</h3></th>
          </tr>
          <tr>
            <td>
              <% if (book.a) { %>
                <div id="book1"><%= book.a.title %></div>
              <% } %>
            </td>
            <td>
              <% if (movie.a) { %>
                <div id="movie1"><%= movie.a.title %></div>
              <% } %>
            </td>
            <td>
            <% if (restaurant.a) { %><div id="restaurant1"><%= restaurant.a.name %></div>
            <% } %>
            </td>
          </tr>
          <tr>
            <td>
              <% if (book.a) { %>
                Author: <%= book.a.authors %>
              <% } %>
            </td>
            <td>
              <% if (movie.a) { %>
                Rating: <%= movie.a.vote_average %>
              <% } %>
            </td>
            <td>
              <% if (restaurant.a) { %>
                Rating: <%= restaurant.a.rating %>
              <% } %>
              </td>
          </tr>
          <tr>
            <td>
              <% if (book.a) { %>
                <img src='<%= book.a.thumbnail %>' width="40%" height="auto">
              <% } %>
            </td>
            <td>
              <% if (movie.a) { %>
                <img src='<%= movieImg.a %>' width="40%" height="auto">
              <% } %>
            </td>
            <td>
              <% if (restaurant.a) { %>
                <img src='<%= restaurant.a.image_url %>' width="40%" height="auto">
              <% } %>
            </td>
          </tr>
          <tr>
            <td>
              <% if (book.a) { %>
                <button type="submit" class="add-from-result1">Add to ToDo</button>
              <% } %>
            </td>
            <td>
              <% if (movie.a) { %>
                <button type="submit" class="add-from-result2">Add to ToDo</button>
              <% } %>
            </td>
            <td>
              <% if (restaurant.a) { %>
                <button type="submit" class="add-from-result3">Add to ToDo</button>
              <% } %>
            </td>
          </tr>

          <tr>
            <td>
              <% if (book.b) { %>
                <div id="book2"><%= book.b.title %></div>
              <% } %>
            </td>
            <td>
              <% if (movie.b) { %>
                <div id="movie2"><%= movie.b.title %></div>
              <% } %>
            </td>
            <td>
            <% if (restaurant.b) { %><div id="restaurant2"><%= restaurant.b.name %></div>
            <% } %>
            </td>
          </tr>
          <tr>
            <td>
              <% if (book.b) { %>
                Author: <%= book.b.authors %>
              <% } %>
            </td>
            <td>
              <% if (movie.b) { %>
                Rating: <%= movie.b.vote_average %>
              <% } %>
            </td>
            <td>
              <% if (restaurant.b) { %>
                Rating: <%= restaurant.b.rating %>
              <% } %>
              </td>
          </tr>
          <tr>
            <td>
              <% if (book.b) { %>
                <img src='<%= book.b.thumbnail %>' width="40%" height="auto">
              <% } %>
            </td>
            <td>
              <% if (movie.b) { %>
                <img src='<%= movieImg.b %>' width="40%" height="auto">
              <% } %>
            </td>
            <td>
              <% if (restaurant.b) { %>
                <img src='<%= restaurant.b.image_url %>' width="40%" height="auto">
              <% } %>
            </td>
          </tr>
          <tr>
            <td>
              <% if (book.b) { %>
                <button type="submit" class="add-from-result4">Add to ToDo</button>
              <% } %>
            </td>
            <td>
              <% if (movie.b) { %>
                <button type="submit" class="add-from-result5">Add to ToDo</button>
              <% } %>
            </td>
            <td>
              <% if (restaurant.b) { %>
                <button type="submit" class="add-from-result6">Add to ToDo</button>
              <% } %>
            </td>
          </tr>

          <tr>
            <td>
              <% if (book.c) { %>
                <div id="book3"><%= book.c.title %></div>
              <% } %>
            </td>
            <td>
              <% if (movie.c) { %>
                <div id="movie3"><%= movie.c.title %></div>
              <% } %>
            </td>
            <td>
            <% if (restaurant.c) { %><div id="restaurant3"><%= restaurant.c.name %></div>
            <% } %>
            </td>
          </tr>
          <tr>
            <td>
              <% if (book.c) { %>
                Author: <%= book.c.authors %>
              <% } %>
            </td>
            <td>
              <% if (movie.c) { %>
                Rating: <%= movie.c.vote_average %>
              <% } %>
            </td>
            <td>
              <% if (restaurant.c) { %>
                Rating: <%= restaurant.c.rating %>
              <% } %>
              </td>
          </tr>
          <tr>
            <td>
              <% if (book.c) { %>
                <img src='<%= book.c.thumbnail %>' width="40%" height="auto">
              <% } %>
            </td>
            <td>
              <% if (movie.c) { %>
                <img src='<%= movieImg.c %>' width="40%" height="auto">
              <% } %>
            </td>
            <td>
              <% if (restaurant.c) { %>
                <img src='<%= restaurant.c.image_url %>' width="40%" height="auto">
              <% } %>
            </td>
          </tr>
          <tr>
            <td>
              <% if (book.c) { %>
                <button type="submit" class="add-from-result7">Add to ToDo</button>
              <% } %>
            </td>
            <td>
              <% if (movie.c) { %>
                <button type="submit" class="add-from-result8">Add to ToDo</button>
              <% } %>
            </td>
            <td>
              <% if (restaurant.c) { %>
                <button type="submit" class="add-from-result9">Add to ToDo</button>
              <% } %>
            </td>
          </tr>

          <tr>
            <td>
              <% if (book.d) { %>
                <div id="book4"><%= book.d.title %></div>
              <% } %>
            </td>
            <td>
              <% if (movie.d) { %>
                <div id="movie4"><%= movie.d.title %></div>
              <% } %>
            </td>
            <td>
            <% if (restaurant.d) { %><div id="restaurant4"><%= restaurant.d.name %></div>
            <% } %>
            </td>
          </tr>
          <tr>
            <td>
              <% if (book.d) { %>
                Author: <%= book.d.authors %>
              <% } %>
            </td>
            <td>
              <% if (movie.d) { %>
                Rating: <%= movie.d.vote_average %>
              <% } %>
            </td>
            <td>
              <% if (restaurant.d) { %>
                Rating: <%= restaurant.d.rating %>
              <% } %>
              </td>
          </tr>
          <tr>
            <td>
              <% if (book.d) { %>
                <img src='<%= book.d.thumbnail %>' width="40%" height="auto">
              <% } %>
            </td>
            <td>
              <% if (movie.d) { %>
                <img src='<%= movieImg.d %>' width="40%" height="auto">
              <% } %>
            </td>
            <td>
              <% if (restaurant.d) { %>
                <img src='<%= restaurant.d.image_url %>' width="40%" height="auto">
              <% } %>
            </td>
          </tr>
          <tr>
            <td>
              <% if (book.d) { %>
                <button type="submit" class="add-from-result10">Add to ToDo</button>
              <% } %>
            </td>
            <td>
              <% if (movie.d) { %>
                <button type="submit" class="add-from-result11">Add to ToDo</button>
              <% } %>
            </td>
            <td>
              <% if (restaurant.d) { %>
                <button type="submit" class="add-from-result12">Add to ToDo</button>
              <% } %>
            </td>
          </tr>
        </table>


</body>

</html>
