<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart ToDo</title>

  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <main>
    <div class="add-item-form">
      <form action="/items" method="POST">
        <input class="form-control add-item-input" type="text" name="title" placeholder="Enter your ToDo item">
        <input class="form-control add-description-input" type="text" name="description" placeholder="Enter your notes">
        <button class="btn-green" type="submit" class="btn btn-primary">Add New ToDo Item</button>
      </form>
    </div>

    <section id="lists-container">
      <section class="list">
        <div class="list-headings ">
          <h4>Films / TV Series</h4>
        </div>
        <div id="films-containers" class="containers padding2">
          <ul class="list-table">
            <% for (const film of films) { %>
              <li class="list-row" data-item-id="<%= film.id %>"  data-cat="films" data-user-id="<%= film.user_id %>">
               <span><%= film.title %></span>  <span>&#9776;</span>
              </li>
              <% } %>
          </ul>
        </div>
      </section>

      <section class="list">
        <div class="list-headings">
          <h4>Restaurants / Cafes</h4>
        </div>
        <div id="food-container" class="containers padding2">
          <ul class="list-table">
            <% for (let restaurant of restaurants) { %>
              <li class="list-row" data-item-id="<%= restaurant.id %>"  data-cat="restaurants" data-user-id="<%= restaurant.user_id %>">
               <span><%= restaurant.title %></span> <span>&#9776;</span>
              </li>
              <% } %>
          </ul>
        </div>
      </section>

      <section class="list">
        <div class=" list-headings">
          <h4>Books</h4>
        </div>
        <div id="books-container" class="containers padding2">
          <ul class="list-table">
            <% for (let book of books) { %>
              <li class="list-row" data-item-id="<%= book.id %>"  data-cat="books" data-user-id="<%= book.user_id %>">
               <span><%= book.title %></span>  <span>&#9776;</span>
              </li>
              <% } %>
          </ul>
        </div>
      </section>

      <section class="list">
        <div class=" list-headings">
          <h4>Products to Buy</h4>
        </div>
        <div id="products-container" class="containers padding2">
          <ul class="list-table">
            <% for (let product of products) { %>
              <li class="list-row" data-item-id="<%= product.id %>"  data-cat="products" data-user-id="<%= product.user_id %>">
              <span><%= product.title %></span>  <span>&#9776;</span>
              </li>
              <% } %>
          </ul>
        </div>
      </section>

      <section class="list">
        <div class="  list-headings">
          <h4>Other</h4>
        </div>
        <div id="other-container" class="containers padding2">
          <ul class="list-table">
            <% for (let item of other) { %>
              <li class="list-row" data-item-id="<%= item.id %>"  data-cat="other" data-user-id="<%= item.user_id %>">
               <span><%= item.title %></span>  <span>&#9776;</span>
              </li>
              <% } %>
          </ul>
        </div>
      </section>
    </section>

  </main>

  <!-- popup to edit category -->

  <div id="popup" class="br5">
    <div class="close">&#10006;</div>

     <h3 class="">Change Category</h3> 

     <form id="change-categ-form" method="post" action="items/update-category">
       <select name="new_category" id="select-cat">
       </select>
       <button type="submit" class="btn-green">Move</button>
    </form>
    <div class="form-error-div"></div>

    <hr>

    <h3 class="">Delete Item</h3> 
    <form id="delete-item-form" method="post" action="items/delete-item">
      <button type="submit" class="btn-red">Delete</button>
   </form>

  </div>

<!-- dark overlay -->
  <div id="overlay"></div>


  <!-- Jquery CDN link -->
<!--   <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
  </script>
 -->
</body>


</html>
