<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart ToDo</title>

  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <main>
    <div class="add-item-form">
      <form action="/items" method="POST">
        <input class="form-control add-item-input" type="text" name="title" placeholder="Enter your ToDo item">
        <input class="form-control add-description-input" type="text" name="description" placeholder="Enter your notes">
        <button class="btn-green" type="submit" class="btn btn-primary">Add New ToDo Item</button>
      </form>
    </div>

    <section id="lists-container">
      <section class="list">
        <div class="list-headings ">
          <h4>Films / TV Series</h4>
        </div>
        <div id="films-containers" class="containers padding5">
          <ul class="list-table">
            <% for (const film of films) { %>
              <li class="list-row" data-item-id="<%= film.id %>" data-category-id="<%= film.category_id %>" data-cat="films">
                <%= film.title %>
              </li>
              <% } %>
          </ul>
        </div>
      </section>

      <section class="list">
        <div class="list-headings">
          <h4>Restaurants / Cafes</h4>
        </div>
        <div id="food-container" class="containers padding5">
          <ul class="list-table">
            <% for (let restaurant of restaurants) { %>
              <li class="list-row" data-item-id="<%= restaurant.id %>" data-category-id="<%= restaurant.category_id %>" data-cat="restaurants">
                <%= restaurant.title %>
              </li>
              <% } %>
          </ul>
        </div>
      </section>

      <section class="list">
        <div class=" list-headings">
          <h4>Books</h4>
        </div>
        <div id="books-container" class="containers padding5">
          <ul class="list-table">
            <% for (let book of books) { %>
              <li class="list-row" data-item-id="<%= book.id %>" data-category-id="<%= book.category_id %>" data-cat="books">
                <%= book.title %>
              </li>
              <% } %>
          </ul>
        </div>
      </section>

      <section class="list">
        <div class=" list-headings">
          <h4>Products to Buy</h4>
        </div>
        <div id="products-container" class="containers padding5">
          <ul class="list-table">
            <% for (let product of products) { %>
              <li class="list-row" data-item-id="<%= product.id %>" data-category-id="<%= product.category_id %>" data-cat="products">
                <%= product.title %>
              </li>
              <% } %>
          </ul>
        </div>
      </section>

      <section class="list">
        <div class="  list-headings">
          <h4>Other</h4>
        </div>
        <div id="other-container" class="containers padding5">
          <ul class="list-table">
            <% for (let item of other) { %>
              <li class="list-row" data-item-id="<%= item.id %>" data-category-id="<%= item.category_id %>" data-cat="other">
                <%= item.title %>
              </li>
              <% } %>
          </ul>
        </div>
      </section>
    </section>

  </main>

  <!-- popup to edit category -->

  <div id="popup" class="br5">
    <div class="close">&#10006;</div>
     <h4 class="">Change Category</h4> 

     <form id="change-categ-form" action="">
       <select name="new-category" id="select-cat">
        <option value="select">Select</option>
       </select>
       <button type="submit" class="btn-green">Move</button>
       <div class="form-error-div"></div>
     </form>

  </div>

<!-- dark overlay -->
  <div id="overlay"></div>


  <!-- Jquery CDN link -->
<!--   <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
  </script>
 -->
</body>


</html>
